@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Golos Text', sans-serif;
  
}
body {
  background-color: #23222f;
}

h1,
h2,
h3,
h4 {
  color: white;
}

.Search_neutralDealSlider__Ch7CT {
  background-color: #00bcd4 !important;
}
